{% extends 'base.html' %}

{% block content %}



<form  method="post">
    {% csrf_token %}

     <div class="md-3">
        <label for="">nombre</label>
      
        <select name="nombre" id="nombre" required> 
         {% for d in datlist %}
             <option value="{{ d.curso }}">{{ d.curso }}</option>
         {% endfor %}
    
        </select>
     </div> 

    <div class="md-3">
        <label for="">cantidad alumnos</label>
        <input type="number"  name="cantidad_alumnos" value="" required>
     </div> 
     
     <div class="md-3">
        <label for="">Jornada</label>
        {% if listjornada %}
        <select  name="tipo_curso"  required>
         <option selected>seleccione</option>
         {% for l in listjornada %}
         <option value="{{l.jornada}}">{{l.jornada}}</option>
         {% endfor %}
        </select>
        {% endif %}
     </div> 

     <button class=" btn btn-succes">AGREGAR</button>
     <a href="{% url 'listas-cursos' %}">volver</a>
     
</form>


{% endblock %}