{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatable.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
    <title>cole</title>
</head>
<body>
    {% include 'principal/navar.html'  %}

    <main class="container mt-4">
            {% block content %}
            {% endblock %}
        </main>

    {% include 'principal/footer.html'  %}
</body>
    
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/poper.min.js' %}"></script> -->
    <!-- 1️⃣ jQuery (PRIMERO) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- 2️⃣ DataTables CORE -->
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>

    <!-- 3️⃣ Buttons CORE -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

    <!-- 4️⃣ Dependencias -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <!-- 5️⃣ Extensiones -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/ui.js' %}"></script>
    <script src="{% static 'js/misjs/misjson.js' %}"> </script>
</html>